:root {
  --background-color: #FFFAFF;
  --header-color: #1A659E;
  --accent-color-1: #E84855;
  --accent-color-2: #E4572E;
  --accent-color-3: #6DB1BF;
}

/* Reset default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set background color and font styles */
body {
  height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--background-color);
  margin: 0rem;
  overflow: hidden;
}

/* Set styles for header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--header-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 28px;
  font-weight: bold;
  color: var(--background-color);
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav li {
  margin-right: 20px;
}

header nav a {
  text-decoration: none;
  color: var(--background-color);
  transition: color 0.3s ease;
}

header nav a:hover {
  color: var(--accent-color-3);
}

/* Set styles for main content */
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  background-color: var(--background-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

main h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--accent-color-3);
}

main p {
  margin-bottom: 20px;
}

main section {
  margin-bottom: 40px;
}

main img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

main ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

main li {
  width: calc(100% / 3 - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
}

main a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--accent-color-3);
}

main a:hover {
  color: var(--accent-color-1);
}

main h3 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

/* Set styles for footer */
footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--header-color);
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 14px;
  color: var(--background-color);
}

footer a {
  text-decoration: none;
  color: var(--background-color);
  transition: color 0.3s ease;
}

footer a:hover {
  color: var(--accent-color-3);
}

/* Set styles for the about me section */
.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Set styles for the projects section */
#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%); 
  user-select: none; /* -- Prevent image highlighting -- */
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}
